@import "tailwindcss";

/* Dev border */
@layer utilities {
  .dev-border {
    @apply border-2 border-red-500;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #e0e0e0;
  --color-secondary: #212121;
}

button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.15s ease, color 0.15s ease;
  cursor: pointer;
}